/* Main */
/* To center the form*/
.main {
  margin: auto;
  width: 50%;
  margin-top: 10%;
}
/* Tile */
/* To center title class*/
.title {
  text-align: center;
}

/* Form */
.form {
  text-align: center;
}

/* Email */
.email {
  margin: 10px;
}

/* Password*/
.password {
  margin: 10px;
}

/*labels*/
label {
  margin-bottom: 10px;
  display: inline-block;
}

/* inputs*/

button {
  margin: 5px;
  margin-bottom: 10px;
}
