/* Navigation */

.nav {
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-around;
  margin: 2px;
}

.sign {
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
}

#sign-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
#sign-nav a {
  margin: 5px;
}
img {
  width: 70px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* Main */
.main {
  margin: auto;
  width: 50%;

}
.videoContainer{
  margin-top: 100px;
}
/* Ttile*/
.title {
  text-align: center;
}
/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
}
