/* footer */
.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0, 0, 0, 0.3);
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links a:hover {
    opacity: 1;
}

.footer .fa-heart {
    color: #D23333;
}

/* navbar */
.navbar-lewagon {
    justify-content: space-between;
    background: white;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

/* Avatar */
.avatar {
    width: 40px;
    border-radius: 50%;
}

/* .avatar:hover {
    box-shadow: 0 0 0 15px rgba(10, 111, 149, 0.7) inset;
  } */

/* Background */
.imgM {
    padding: 278px 0;
}

/* Video */
.vid {
    background: #333;
    padding: 9px;
    border: 12px outset #e0e0e0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
